[user]
	name = Lucas Tine-Beres
	email = lucastineberes@gmail.com

[alias]
st = status
rmall = ls-files --deleted | xargs git rm
co = checkout
br = branch
df = diff
ci = commit
lol = log --graph --decorate --pretty=oneline --abbrev-commit
lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[push]
default = simple

[color]
diff = auto
status = auto
branch = auto
interactive = auto
ui = true
pager = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[core]
	editor = vim
